<div class="login-container">

  <div class="login-card">

    <h2>Bienvenida 👋</h2>
    <p>Accede a tu panel fitness</p>

    <div class="form-group">
      <input
        [(ngModel)]="email"
        type="email"
        placeholder="Correo electrónico"
      >
    </div>

    <div class="form-group">
      <input
        [(ngModel)]="password"
        type="password"
        placeholder="Contraseña"
      >
    </div>

    <button (click)="login()">Ingresar</button>

    <small class="error" *ngIf="error">
      {{ error }}
    </small>

    <div class="extra">
      <span>¿No tienes cuenta?</span>
      <a routerLink="/register">Regístrate</a>
    </div>

  </div>

</div>
